altgraph==0.17.5
et_xmlfile==2.0.0
numpy==2.4.6
openpyxl==3.1.5
OriginExt==1.2.5
originpro==1.1.15
originpy==0.0.2
packaging==26.2
pandas==3.0.3
pefile==2024.8.26
pip==26.1.1
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
python-dateutil==2.9.0.post0
pywin32==311
pywin32-ctypes==0.2.3
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
tzdata==2026.2
wheel==0.47.0
